@tailwind base;
@tailwind components;
@tailwind utilities;


/* Disable text selection for all elements */
body {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version */
}

h1{
    color: #8a8a8a6b;
}